/* .lastpage{
    @apply flex items-center justify-center h-[100vh] bg-[#001a21];
} */
.sec_body {
    @apply flex items-center justify-center h-[100vh];
  }
  .sec_inner {  
    @apply grid gap-10 max-[600px]:grid-cols-2 max-[600px]:gap-4;
    width: 100%;
    height: 80%;
    padding: 1rem;
  }
  .sec_1,.sec_6{
    grid-column: span 2;
  }
  .sec_1,
  .sec_2,
  .sec_3,
  .sec_4,
  .sec_5,
  .sec_6{
    position: relative;
    background: url("./Asset/back1.jpg");
    background-size: cover;
  }
  
  .sec_p1,
  .sec_p2,
  .sec_p3,
  .sec_p4,
  .sec_p5,
  .sec_p6 {
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
    background-color: rgba(255, 255, 255, 0.655);
    border-radius: 2px 2px 0 0;
  }
  
  .sec_1:hover .sec_p1 {
    height: 70%;
  }
  
  .sec_2:hover .sec_p2 {
    height: 70%;
  }
  .sec_3:hover .sec_p3 {
    height: 70%;
  }
  .sec_4:hover .sec_p4 {
    height: 70%;
  }
  .sec_5:hover .sec_p5 {
    height: 70%;
  }
  .sec_6:hover .sec_p6 {
    height: 70%;
  }
  .sec_lab {
    margin-left: 1rem;
    cursor: pointer;
    color: mediumblue;
  }